<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="sidebar-nav">
    <ul class="nav">
      <li>Home</li>
      <li><a href="<%= weeler_root_path %>">Index</a></li>
      <li><a href="<%= weeler_home_about_path %>">About</a></li>
    </ul>
  </div><!--/.sidebar-nav -->
</div><!--/span-->
