.row
  .col-12-lg
    %h2 About
    %p Simple open source CMS system. Most used in Weby LTC systems.
    %h3 Features
    %ul
      %li Dynamic static texts
      %li Localization
      %li Light design
    %h3 Technology (used in implementation)
    %ul
      %li Ruby - cool programming language
      %li Rails - most advanced WEB MVC framework
      %li RSpec - automatic tests/unit tests
      %li Bundler - uses only fresh and tested libs
