<div class="row">
  <div class="col-12-lg">
    <h2>About</h2>
    <h3>History</h3>
    <p>In late 2013 Arturs and Artis decided to make CMS for programmers. Arturs built first prototype on Ruby in few weeks and they implemented Weeler in few projects.</p>
    <h3>Now</h3>
    <p>Weeler is the most popular and the most powerful CMS system today.</p>
    <h3>Technology</h3>
    <ul>
      <li>Ruby</li>
      <li>on Rails - most advanced MVC framework</li>
      <li>RSpec for testing</li>
      <li>Bundler for dependencies</li>
    </ul>
  </div>
</div>