<div class="row">
  <div class="col-12-lg">
    <h2>About</h2>
    <p>Simple open source CMS system. Most used in Weby LTC systems.</p>
    <h3>Features</h3>
    <ul>
      <li>Dynamic static texts</li>
      <li>Localization</li>
      <li>Light design</li>
    </ul>
    <h3>Technology (used in implementation)</h3>
    <ul>
      <li>Ruby - cool programming language</li>
      <li>Rails - most advanced WEB MVC framework</li>
      <li>RSpec - automatic tests/unit tests</li>
      <li>Bundler - uses only fresh and tested libs</li>
    </ul>
  </div>
</div>