= form_for [:weeler, @item], html: {class: "form-horizontal", role: "form"} do |f|

  = render 'error_messages', :object => @item

  %p{class: "pull-right"}
    = f.submit "Save", class: "btn btn-primary"
