.row
  %div{class: "col-lg-12 col-md-12"}
    - if @items.klass.new.has_attribute?(:sequence)
      = render "sortable_list", { collection: @items }
    - else
      = render "list", { collection: @items }

- if @paginate.present? && @paginate > 0
  .row
    = paginate @items, params: { action: "index" }, theme: "weeler"
