.row
  - col_class = @seo.present? ? "col-lg-8 col-md-8" : "col-lg-12 col-md-12"
  %div{class: col_class}
    - if @items.klass.new.has_attribute?(:sequence)
      = render "sortable_list", { collection: @items }
    - else
      = render "list", { collection: @items }

  - if @seo.present?
    %div{class: "col-lg-4 col-md-4"}
      = render 'section_seo'
