.header.container
  .row
    .col-lg-12.col-md-12
      .page-header
        %h1 New translation
.edit_user.container
  .row
    .col-lg-12.col-md-12
      = form_for @translation, {url: { action: :create }, html: {class: "form-horizontal", role: "form"}} do |f|
        = render partial: "form", locals: {translation: @translation, f: f}
        %p.text-center
          %button.btn.btn-primary{type: "submit"} Save
          = link_to 'Cancel', { action: :index }, class: 'btn btn-link'
