<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="well sidebar-nav">
    <ul class="nav">
      <li><span class="glyphicon glyphicon-cog"></span>Configurations</li>
      <% if Weeler.use_weeler_i18n %>
      <li><a href="<%= weeler_translations_path %>">Translations</a></li>
      <% end %>
      <li><a href="<%= weeler_settings_path %>">Settings</a></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
