.row
.header.container
  .row
    .col-lg-12
      .page-header
        %h1
          Settings
.row
  %div{class: "col-lg-8 col-md-8"}
    - @settings.each do |item|
      %div{style: "min-height: 50px;"}
        = render 'form', item: item
    - Setting.keys.each do |key|
      - if !Setting.all.map(&:var).include?(key)
        %div{style: "min-height: 50px;"}
          = render 'form', item: Setting.new(var: key)