/*
 * Style twaks
 * --------------------------------------------------
 */
body {
  padding-top: 70px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}

/*
 * Fix bootrsap top bug
 *
 */
 body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 0;
}


/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

/*
 * List
 * ----------
 *
*/
.sortable.list-group {
  .list-group-item {
    cursor: move;
    min-height: 42px;
  }
}

a.navbar-brand.weeler{
  padding-bottom:3px;
  color:#fff;
}
span.weeler_version{
  vertical-align: super;
  font-size:10px;
  color:#C2C2C2;
}