@mixin hide-text {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

@mixin smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
  padding-top: 90px;
  background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
}

footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ececec;
  text-align: center;
  .navbar-text {
    float: none;
  }
}

.container {
  padding-right: 10px;
  padding-left: 10px;
}

/*
 * Fix bootrsap top bug
 *
 */
 body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 0;
}


/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}


.content_container {
  min-height: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  border-top: 3px solid #40b4f0;
}

.container .jumbotron {
  border-radius: 0;
}

/*
 * List
 * ----------
 *
*/
.sortable.list-group {
  .list-group-item {
    cursor: move;
    min-height: 42px;
  }
}

// Navigation top bar

.navbar-inverse {
  background-color: #424242;
  border-top: 10px solid #292929;
  border-bottom: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;

  .navbar-right li + li {
    padding-left: 5px;
    &:before {
      content: '';
      display: block;
      height: 18px;
      border-left: 1px solid #676767;
      position: absolute;
      top: 0; bottom: 0;
      margin: auto 0 auto -3px;
    }
  }

  .navbar-nav > li {
    & > a {
      color: #fff;
    }

    .glyphicon {
      margin-right: 7px;
    }

    &.active > a {
      padding-top: 7px;
      padding-bottom: 7px;
      margin: 8px 12px;
      border-radius: 17px;
      background-color: #292929;
    }
  }
}

.navbar-brand.weeler {
  display: inline-block;
  width: 119px;
  height: 50px;
  padding-left: 15px;
  @include hide-text;
  margin-right: 25px;
  background: image-url('weeler/logo.png') 15px 10px no-repeat;
}

// Sidebar navigation

.sidebar-nav {
  @extend .content_container;
  border-top-color: #8b8b8b;

  .nav > li > a {
    color: #7e7e7e;
    padding: 10px 10px 10px 35px;
  }

  .nav > li:first-child {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 600;
    padding: 10px 0 10px 35px;
    border-bottom: 1px solid #d3d3d3;
    .glyphicon {
      position: absolute;
      left: 10px; top: 12px;
    }
  }
}