#sidebar.col-xs-6.col-sm-3.sidebar-offcanvas{role: "navigation"}
  .well.sidebar-nav
    %ul.nav
      %li Configurations
      - if Weeler.use_weeler_i18n
        %li
          %a{href: weeler_translations_path} Translations
      - if I18n::Backend::Weeler::Translation.select("key").where("key LIKE ?", "seo.%").order("key").size > 0
        %li
          %a{href: weeler_seo_items_path} SEO
      %li
        %a{href: weeler_settings_path} Settings
