<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="well sidebar-nav">
    <ul class="nav">
      <li>Content</li>
      
      <% Weeler.menu_items.each do |item| %>
        <li><%= link_to item[:name], "/#{Weeler.mount_location_namespace}/#{item[:weeler_path]}/" %></li>
      <% end %>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
